* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  position: absolute;
  padding-left: 250px;
}

.header_logo {
  width: 40%;
}

.header_text {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_text a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}

.header_text a:hover {
  color: #f55f8d;
  animation: upToDown 0.5s;
}

.button {
  padding: 20px 30px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: none;
  border-radius: 30px;
  color: white;
  transition: 0.5s;
}

.header_text button:hover {
  background-position: right center;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* end header */

/* signature */

.signature {
  padding: 200px 80px 60px 80px;
  display: flex;
  background-image: url(./img_samar/pic2.png);
}

.signature_text {
  width: 60%;
  padding-top: 60px;
  padding-left: 200px;
}

.signature_text h4 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #f55f8d;
}

.signature_text h2 {
  font-size: 90px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}

.signature_text p {
  font-size: 20px;
  width: 60%;
  line-height: 1.5;
  /* margin-bottom: 20px; */
  color: gray;
  font-weight: 700;
}

.signature_text ul {
  line-height: 3;
  padding: 10px 0;
}

.signature_text li {
  list-style: none;
}

.signature_text li i {
  font-size: 24px;
  margin-right: 10px;
  padding: 5px;
  height: 35px;
  width: 35px;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 35px;
  background-size: 200%;
}
/* end signature */

/* services */
.services {
  padding: 60px 80px 60px 80px;
  background-image: url(./img_samar/bg2.png);
}

.services_title {
  text-align: center;
}

.services_title h1 {
  font-size: 70px;
  font-weight: 800;
}

.services_title p {
  font-size: 30px;
  font-weight: bold;
  color: #f55f8d;
}

.services_list {
  width: 80%;
  padding-left: 300px;
  display: flex;
  justify-content: space-between;
}

.list {
  /* margin: 40px; */
  padding: 40px 20px;
  background: white;
  width: 30%;
  border-radius: 10px;
  transition: all 0.5s;
}

.list:hover {
  transform: translateY(-20px);
}

.list_item {
  text-align: center;
}

.list_item img {
  width: 215px;
}

.item_text {
  text-align: center;
}

.item_text h2 {
  padding: 10px 0;
}
/* end services */

/* information */

.information {
  background-image: url(./img_samar/bg15.png);
}

.information_total {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.information_img {
  padding-right: 60px;
}

.information_img img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.information_list {
  width: 50%;
}

.title_total {
  color: #f55f8d;
  font-size: 30px;
}

.information_list h1 {
  font-size: 80px;
}

.information_list p {
  line-height: 1.5;
  margin: 20px 0;
}

.information_list li {
  list-style: none;
  line-height: 2;
}

.information_list li i {
  font-size: 20px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #f55f8d;
  color: #f55f8d;
  border-radius: 50%;
}

.information_list button {
  margin: 30px 0;
}

/* end information */

/* number */

.number {
  padding: 80px 40px;
  margin-top: 60px;
  background-image: url(./img_samar/bg14.png);
}

.number_total {
  display: flex;
  width: 80%;

  margin: auto;
  text-align: center;
}

.number_list {
  width: 25%;
}

.number_list i {
  font-size: 30px;
  padding: 15px 20px;
  color: white;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f44277 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}

.number_icon {
  margin-bottom: 30px;
}

.counter {
  font-size: 60px;
  font-weight: bold;
  color: #f55f8d;
}

/* end number */

/* piece */

.piece {
  padding: 60px 10% 60px 10%;
  display: flex;
  background-image: url(./img_samar/bg2.png);
}

.piece_img {
  width: 50%;
}

.piece_img img {
  max-width: 100%;
  animation: move2 5s infinite;
}

.piece_text {
  width: 45%;
}

/* .piece_text h4 {
  color: #f44277;
  font-size: 30px;
} */

.text_h1 {
  font-size: 80px;
  font-weight: 900;
  text-align: center;
}

.piece_title {
  margin: 20px 0;
}

.piece_table {
  margin-top: 60px;
}

.table {
  display: flex;
  margin: 30px 0;
  background: white;
  padding: 20px;
}

.table:hover {
  color: white;
  background-image: linear-gradient(
    to right,
    #f44277 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}

.table:hover i {
  color: white;
}

.table i {
  font-size: 80px;
  margin-right: 20px;
  color: #f55f8d;
}

.table_text h3 {
  font-size: 30px;
  line-height: 1.5;
}

.table_2 {
  margin-left: 40px;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* end piece */

/* photo */
.photo {
  width: 100%;
  margin-top: 60px;
}

.photo_title {
  text-align: center;
  padding: 20px;
}

.photo_list {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-gap: 30px;
}

.photo_list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.item_total {
  position: relative;
}

.item_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

.overlay_title {
  position: absolute;
  bottom: 0;
  left: 20px;
  transition: 0.3s;
}

.item_overlay .search {
  width: 50px;
  height: 50px;
  padding: 10px 0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  transition: 0.3s;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}

.item1 {
  grid-column: 1 / span 2;
}

.item5 {
  grid-column: 1 / span 2;
}

.item6 {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

/* hover photo*/

.item_total:hover .item_overlay {
  opacity: 1;
}

.item_overlay:hover .search {
  top: 30px;
  right: 30px;
}

.item_overlay:hover .overlay_title {
  bottom: 30px;
  left: 20px;
}

.item_overlay .search i {
  font-size: 30px;
  color: white;
}

.item_total {
  overflow: hidden;
}

.item_total::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.item_total:hover::before {
  left: 125%;
}
/* end photo */

/* course */

.course {
  margin-top: 60px;
  padding: 80px 40px;
  width: 100%;
  background-image: url(./img_samar/bg16.png);
}

.course_title {
  text-align: center;
}

.course_table {
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
}

.course_list {
  padding: 20px 40px;
  background: white;
}

.list_top {
  text-align: center;
}

.list_top h1 {
  font-size: 40px;
}

.list_top img {
  width: 50%;
  height: 50%;
}

.list_top p {
  padding: 30px 0;
  font-size: 20px;
  font-weight: bold;
}

.list_top p span {
  font-size: 70px;
  font-weight: bold;
  color: #f8ae56;
}

.list_bot {
  padding: 20px 0 20px 60px;
}

.list_bot ul {
  margin-bottom: 20px;
}

.list_bot ul li {
  list-style: none;
  line-height: 2.5;
}

.list_bot ul li i {
  padding: 10px;
  margin-right: 20px;
  background: #feeff3;
  color: #f55f8d;
  border-radius: 50%;
}

.list_bot button {
  margin-left: 50px;
}

/* end course */

/* start testimonial */
.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonial__content {
  min-height: 300px;
}
.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.testimonial__thumbs::after,
.testimonial__thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.testimonial__thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial__thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial__pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial__pic .shape-bx {
  opacity: 1;
}
.testimonial__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testimonial__pic::after,
.testimonial__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}
.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.swiper-slide-thumb-active .testimonial__pic::after,
.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1;
}
.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}
.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}
.swiper-pagination-bullet-active {
  background: #f55f8d;
}
.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}

/* end testimonia */

/* start blog */
.blog {
  padding: 60px 0;
  background-image: url(./img_samar/bg16.png);
}

.container {
  width: 90%;
  margin: auto;
}

.blog_title {
  text-align: center;
}

.blog_title h1 {
  padding: 20px 0;
}

.blog_list {
  background: rgba(245, 95, 141, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.blog_header {
  position: relative;
}

.blog_header img {
  border-radius: 10px;
}

.blog_header p {
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  position: absolute;
  left: 15px;
  bottom: -20px;
}

.blog_body {
  padding: 30px 20px;
}

.blog_body h2 {
  width: 60%;
  line-height: 1.5;
}

.blog_body p {
  width: 80%;
  color: gray;
}

.blog_footer {
  padding: 20px 15px;
  display: flex;
}

.blog_footer p {
  margin-left: 10px;
}

.icon_pink {
  color: #f44277;
}
/* end blog */

/* start footer */
.footer {
  background-image: url(./img_samar/bg4.png);
  background-color: #0e1b1f;
  color: white;
  display: block;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.footer::before {
  content: "";
  background-image: url(./img_samar/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer_mail {
  padding: 50px 60px;
  background-image: url(./img_samar/pattern3.png);
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
  /* align-content: space-around; */
  width: 80%;
  margin: auto;
  border-radius: 12px;
}

.mail_text {
  width: 50%;
}

.mail_form {
  width: 50%;
}

.mail_form input {
  flex: 1 1 auto;
  padding: 20px 20px;
  padding-right: 40%;
  font-size: 15px;
  color: #888;
  border: 1px solid #fff;
  border-radius: 6px 0 0 6px;
  transition: 0.5s;
  outline: none;
}

.mail_form input:focus {
  border-color: #f44277;
}

.mail_form input:hover {
  border: 1px solid #f44277;
}

.mail_form button {
  padding: 15px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: 0.5s;
  border-radius: 0 6px 6px 0;
  color: #fff;
  transition: 0.5s;
}

.mail_form button:hover i {
  animation: leftToRight 0.5s;
}

@keyframes leftToRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}

.footer_contact {
  padding-top: 70px;
  display: flex;
  width: 80%;
  margin: auto;
  position: relative;
}

.footer_list {
  width: 25%;
  line-height: 2.5;
}

.footer_list a {
  color: gray;
  transition: 0.4s;
}

.footer_list li:hover a {
  color: white;
}

.footer_list_icon {
  width: 25%;
  line-height: 2;
}

.footer_list_icon i {
  padding: 15px 0 0 15px;
  margin-right: 20px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}

.footer_list_icon ul li {
  display: flex;
}

.footer_list h3 {
  margin-bottom: 20px;
  position: relative;
}

.footer_list h3::after,
.footer_list h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer_list h3::before {
  width: 15px;
}

.footer_list h3::after {
  width: 45px;
  left: 30px;
}

.footer_contact ul {
  list-style: none;
}

.footer_last {
  position: relative;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
}

.footer_right {
  padding-right: 60px;
}

.footer_left {
  padding-left: 60px;
}

.footer_left span {
  color: #f44277;
}

.footer_right i {
  height: 40px;
  width: 40px;
  padding: 10px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
/* end footer */

.backToTop {
  height: 60px;
  width: 60px;
  background: #f44277;
  text-align: center;
  border-radius: 10px;
  line-height: 60px;
  /* display: block; */
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  box-shadow: -4px 4px 24px -10px #f55f8d;
}
